<div class="content">
    <div class="content-header">
        <div class="title"> Cuentas</div>
    </div>
    <div class="content-body">
        <div class="filter">
            <div style=" width: 450px; height: auto; background-color: white; margin-left:20px; margin-top:30px;border-style: solid"><td class="col" style="width: 450px; height: auto; margin-left:20px;"><canvas id="barChart"></canvas></td></div>
        </div>
        <div class="filter">
           <div style=" width: 450px; height: auto; background-color: white; margin-left:20px; margin-top:30px;border-style: solid"><td class="col" style="width: 450px; height: auto; margin-left:20px;"><canvas id="pieChart"></canvas></td></div>
        </div>
    </div>
    <div class="content-footer">
    </div>
</div>