<div class="content">
    <div class="content-header">
        <div class="title"> Cuentas</div>
    </div>
    <div class="content-body">
        <div class="filter">
            <div style=" width: 835px;; height: auto; margin:auto; background-color: white; margin-left:20px; margin-top:30px;border-style: solid; margin-bottom: 24px;">
                <td class="col" style="width: 450px; height: auto; margin-left:20px;"><canvas id="barChart" style="width:835px;"></canvas></td>
                <div style="margin-top: 24px; text-align: center">
                    <h5>
                        <b>ESTADISTICA QUE COMPARA LA CANTIDAD DE ATAQUES DIRIGIDOS A PUERTOS
                        </b>
                    </h5>
                </div>
            </div>

        </div>
        <div class="filter">
            <div style=" width: 835px; height: auto; background-color: white; margin-left:20px; margin-top:30px;border-style: solid; margin-bottom: 24px;">
                <td class="col" style="width: 450px; height: auto; margin-left:20px;"><canvas id="pieChart" style="width:835px;"></canvas></td>
                <div style="margin-top: 24px; text-align: center">
                    <h5>
                        <b> QUE COMPARA LA CANTIDAD DE ATAQUES DIRIGIDOS A SERVICIOS</b>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="content-footer">
    </div>
</div>