<!--The content below is only a placeholder and can be replaced.-->
<div class="paper">
  <div class="login" *ngIf="identity==null">
    <div class="title-login">
      <h3>
        login
      </h3>
      <h5>Escribe tu usuario y contraseña</h5>
    </div>
    <div class="form-login">
      <div class="alert alert-success" *ngIf="errorMessage!=null">
        <strong>Success!</strong> {{errorMessage }}
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <label>Nombre de usuario</label>
          <input type="text" #userName="ngModel" name="userName" [(ngModel)]="user.userName" class="form-username" required />
          <span *ngIf="!userName.valid && userName.touched ">Rellene todo los campos</span>
        </p>
        <p>
          <label>Contraseña</label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-password" required />
        </p>
        <input type="submit" value="Entrar" class="btn-btn-primary" />
      </form>
    </div>

  </div>
</div>





<div class="content-page" *ngIf="identity!=null">

  <!-- ******************************* BAR********************* -->
  <div class="nav col-md-12">
    <header class="col-md-2" (click)="showInit()">
      <img src="../../assets/image/unicartagena.png">
    </header>
    <div class="bar-body col-md-8">
      <div>
        <div style="text-align: center">
          <h4>Sietema de honeypots</h4>
        </div>
      </div>
      <hr>
      <div style="margin-left: 36%">
        <div *ngIf="identity.name != 'ivan'">
          <a class="col-md-2">
            <span class="glyphicon glyphicon-level-up" aria-hidden="true" (click)="showReports()"></span>
            <!-- <h5>Registros</h5> -->
          </a>
          <a class="col-md-2">
            <span class="glyphicon glyphicon-signal" aria-hidden="true" (click)="showDashboards()"></span>
            <!-- <h5> Estadisticas</h5> -->
          </a>
          <a class="col-md-2">
            <span class="glyphicon glyphicon-cog" aria-hidden="true" (click)="showConfigs()"></span>
            <!-- <h5>Configuraciones</h5> -->
          </a>
        </div>
      </div>
    </div>
    <footer class="col-md-2">
      <div class="buttonShutdown">
        <span class="glyphicon glyphicon-log-out" (click)="shutDown()" aria-hidden="true"></span>
      </div>
      <b>Salir de la aplicacion</b>
    </footer>
  </div>
  <!-- FIN -->

  <div class="content">
    <div *ngIf="identity.name != 'ivan'">
      <div *ngIf="navigator == 0">
        <init></init>
      </div>
      <div *ngIf="navigator == 1">
        <reportComponent></reportComponent>
      </div>
      <div *ngIf="navigator == 2">
        <piechart></piechart>
        <dashboards></dashboards>
      </div>
      <div *ngIf="navigator == 3">
        <configs></configs>
      </div>
    </div>

    <div *ngIf="identity.name == 'ivan'">
      <admin_view></admin_view>
    </div>
  </div>
</div>