<div class="content">
    <div class="content-header">
        <div class="title"> Configuraciones</div>
    </div>
    <div class="content-body">
        <!-- <div class="config-left">
            <div class="content-subheader">
                <div class="subtitle">
                    <b>Registro de honeypot</b>
                </div>
            </div> -->
            <!-- <div class="col-lg-12">
                        <div class="col-lg-12">
                            <label>Seleccionar honeypot</label>
                            <select>
                                <option value="">Honeypot no asignado</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label>Seleccionar honeypot</label>
                            <input class="text">
                        </div>
                        <div class="col-lg-12">
                            <button>Guardar cambios</button>
                        </div>
                    </div> -->
        <!-- </div> -->
        <!-- <div class="config-rigth">

        </div> -->
    </div>
    <div class="content-footer">
    </div>
</div>