.content {
    background-color: white;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 20px;
    width: 95%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #bdbbbb;
}

.content-header {
    background-color: #bdbbbb;
    height: 80px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #8d94a1;
}

.title {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-decoration: black;
    margin-left: 30px;
}

.content-body {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
    min-height: 290px;
}

.content-footer {
    background-color: #bdbbbb;
    height: 40px;
    width: 100%;
    border-top-style: solid;
    border-width: 2px;
    border-color: #8d94a1;
}

.config-left{
    min-width: 20%;
    width: 35%;
    min-height: 250;
    height: 280;
    margin-left:10%; 
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #c5c9d1; 
}
.subtitle{
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.content-subheader{
    width: 100%;
    height: 20px;
    background-color: #bdbbbb;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #c5c9d1; 
}
.filter{
    margin: auto;
    width: 90%;
    min-height: 290px;
    border-style: solid;
    border-width: 1px;
    border-color: #8d94a1;
    border-radius: 3px;
}